* {
	  box-sizing: border-box;
	}

.header {
  background-color: #3242a8;
  padding: 20px;
  text-align: center;
  color: white;
  border-width: 5px;
  border-color: #3266a8;
  border-radius: 10px;
  font-size: clamp(3.5rem, 2.571rem + 4.286vw, 6rem);
  font-family: 'Noto Serif', serif;
}

/* Create unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

.column.menu {
  width: 25%;
  border: 1px solid red;
  line-height: 200%;
  font-family: 'Roboto Slab', serif;
  font-size: clamp(1.1rem, 0.933rem + 0.771vw, 1.55rem);
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #e6eded; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


.column.content {
  width: 75%;
  border: 1px solid red;
}

/* Clear floats after the columns so footer stays at bottom*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media (max-width: 850px) {
  .column.menu, .column.content {
	width: 100%;
  }
}


body {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1rem, 0.814rem + 0.857vw, 1.5rem);
}

h2,h3,h4,h5,h6 {
 font-family: 'Noto Serif', serif;
}

h1 {
 font-size: clamp(1.25rem, 1.064rem + 0.857vw, 1.75rem);
 font-family: 'Noto Serif', serif;
}

.center {
  text-align: center;
}

.inset.paragraph {
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	border-radius: 15px;
	background-color: #d5f4ff;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 100px;
	background-image: url(images/star.png);
	background-repeat: no-repeat;
	background-position: top left;
	
	
}

ContactTable, th,td {
	padding: 10px;
	text-align: left;
	border-collapse: collapse;
	table-align: center}
	tr:hover {background-color: #ddd;
	margin-left: auto; 
	margin-right: auto
}	