* {
	  box-sizing: border-box;
	}

.header {
  background-color: #;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  border: 1px solid red;
}

/* Create unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

.column.menu {
  width: 25%;
  border: 1px solid red;
  line-height: 200%;
}

.column.content {
  width: 75%;
  border: 1px solid red;
}

/* Clear floats after the columns so footer stays at bottom*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.menu, .column.content {
	width: 100%;
  }
}


body {
  font-family: 'Nunito', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-family: 'Noto Serif', serif;
}

.center {
  text-align: center;
}

.inset.paragraph {
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	border-radius: 15px;
	background-color: #d5f4ff;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 100px;
	background-image: url(images/star.png);
	background-repeat: no-repeat;
	background-position: top left;
	
	
}

ContactTable, th,td {
	padding: 10px;
	text-align: left;
	border-collapse: collapse;
	table-align: center}
	tr:hover {background-color: #ddd;
	margin-left: auto; 
	margin-right: auto
}	