<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&family=Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="icon" href="/favicon.png" type="image/x-icon" />
    
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <a class="header-link" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <aside class="sidebar">
				<nav class="main-nav">
					<details class="nav-accordion">
						<summary>Main Menu</summary>
						<ul class="nav-list">
							{% for item in site.data.navigation %}
							<li>
								<a href="{{ item.url | relative_url }}" {% if page.url == item.url %}class="active"{% endif %}>
									{{ item.title }}
								</a>
							</li>
							{% endfor %}
						</ul>
					</details>
				</nav>
			</aside>
            
            <div class="content">
                {{ content }}
				
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; {{ 'now' | date: "%Y" }}, {{ site.title }}</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/leland-sampson-esq/" class="social-link">LinkedIn</a>
            </div>
        </div>
    </footer>
</body>
</html>